body {
    margin: 0;
    background-color: black;
    height: 100vh;
    overflow: hidden;
}

span {
    position: absolute;
    background-image: url("https://cdn4.iconfinder.com/data/icons/set-1/32/__1-64.png");
    background-size: cover;
    pointer-events: none;
    animation: animate 6s linear;
}

@keyframes animate {
    from {
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0);
    }

    to {
        transform: translate(-50%, -5000%);
        opacity: 0;
        filter: hue-rotate(1000deg);
    }
}